<html>
	<head>
		<meta charset='utf-8' />
    <link href='../static/css/styles.css' rel='stylesheet' type='text/css' />
    <title>create</title>
	</head>
  <body>
    <button id='home'>HOME</button>
    <form id='compose-form'>
        <header>COMPOSITION</header>
				<select id='action' required>
					<option value='/publish' selected>PUBLISH</option>
					<option value='/sign/composition'>SIGN</option>
				</select><br><br>
				<div>
					<button id='add-composer'>ADD COMPOSER</button>
					<button id='remove-composer'>REMOVE COMPOSER</button>
				</div><br>
        <div id='composer'>
					<div>
          	<input type='text' class='subject' name='composer' placeholder='COMPOSER' required />
						<input type='text' name='signature' placeholder='SIGNATURE' style='float:left;width:0%;' />
						<input type='number' name='split' minimum=1 maximum=99 placeholder='SPLIT' style='float:left;width:0%;' />
					</div>
        </div>
        <input type='text' id='language' placeholder='LANGUAGE' />
        <input type='text' id='iswc' placeholder='ISWC' />
        <input type='text' id='name' placeholder='TITLE' required /><br><br>
				<div>
					<button id='add-publisher'>ADD PUBLISHER</button>
					<button id='remove-publisher'>REMOVE PUBLISHER</button>
				</div><br>
				<div id='publisher'></div>
        <input type='text' id='url' placeholder='URL' />
				<input type='submit' id='submit' />
    </form>
    <pre id='response-text'></pre>
		<br><br>
		<button id='logout'>LOGOUT</button>
    <script>
      require('../js/composition.js')
    </script>
  </body>
</html>
