<html>
	<head>
		<meta charset='utf-8' />
    <link href='../static/css/styles.css' rel='stylesheet' type='text/css' />
    <title>create</title>
	</head>
  <body>
    <button id='home'>HOME</button>
    <form id='compose-form'>
        <header>COMPOSITION</header>
				<select id='action' required>
					<option value='/publish' selected>PUBLISH</option>
					<option value='/sign/composition'>SIGN</option>
				</select><br><br>
				<div>
					<button id='add-composer'>+</button>
					<button id='remove-composer'>-</button>
				</div><br>
        <div id='composers'>
					<div>
          	<input type='text' name='composerId' placeholder='COMPOSER ID' required />
						<input type='text' name='signature' placeholder='SIGNATURE' style='float:left;width:40%;' hidden />
						<input type='number' name='split' minimum=1 maximum=99 placeholder='SPLIT' style='float:left;width:20%;' hidden />
					</div>
        </div>
        <input type='text' id='inLanguage' placeholder='LANGUAGE' />
        <input type='text' id='iswcCode' placeholder='ISWC CODE' />
        <input type='text' id='name' placeholder='TITLE' required />
				<input type='text' id='publisherId' placeholder='PUBLISHER ID' />
        <input type='text' id='url' placeholder='URL' />
				<input type='submit' id='submit' />
    </form>
    <pre id='response-text'></pre>
		<br><br>
		<button id='logout'>LOGOUT</button>
    <script>
      require('../js/common.js')
      require('../js/composition.js')
    </script>
  </body>
</html>
