<html>
	<head>
		<meta charset='utf-8' />
		<link href='../static/css/styles.css' rel='stylesheet' type='text/css' />
    <title>home</title>
	</head>
  <body>
		<label for='discovery'>DISCOVERY</label>
		<div id='discovery'>
			<button class='button' value='query'>QUERY</button>
			<button class='button' value='search'>SEARCH</button>
		</div><br><br>
		<label for='metadata'>METADATA</label>
		<div id='metadata'>
    	<button class='button' value='composition'>COMPOSITION</button>
			<button class='button' value='recording'>RECORDING</button>
		</div><br><br>
		<label for='ownership'>OWNERSHIP</label>
		<div id='ownership'>
	    <button class='button' value='license'>LICENSE</button>
			<button class='button' value='right'>RIGHT</button>
		</div><br><br>
		<label for='verification'>VERIFICATION</label>
		<div id='verification'>
			<button class='button' value='prove'>PROVE</button>
			<button class='button' value='verify'>VERIFY</button>
		</div><br><br>
		<button id='logout'>LOGOUT</button>
    <script>
			require('../js/common.js')
      require('../js/home.js')
    </script>
  </body>
</html>
