<html>
	<head>
		<meta charset='utf-8' />
		<link href='../static/css/styles.css' rel='stylesheet' type='text/css' />
    <title>license</title>
	</head>
  <body>
    <button id='home'>HOME</button>
    <form id='license'>
				<div>
					<button id='add-asset'>ADD ASSET</button>
					<button id='remove-asset'>REMOVE ASSET</button>
				</div><br>
				<div id='asset'>
					<input type='text' class='subject' name='asset' placeholder='ASSET' required />
				</div>
				<div>
					<button id='add-license-holder'>ADD LICENSE-HOLDER</button>
					<button id='remove-license-holder'>REMOVE LICENSE-HOLDER</button>
				</div><br>
        <div id='license-holder'>
					<div>
          	<input type='text' class='subject' name='license-holder' placeholder='LICENSE-HOLDER' style='float:left;width:50%;' required />
						<input type='text' name='valid-through' placeholder='VALID-THROUGH'  onfocus="(this.type='date')" onblur="(this.type='text')" style='float:left;width:50%;' />
					</div>
        </div>
        <input type='submit' value='LICENSE' />
    </form>
    <pre id='response-text'></pre>
		<br><br>
		<button id='logout'>LOGOUT</button>
    <script>
      require('../js/license.js')
    </script>
  </body>
</html>
