<html>
	<head>
		<meta charset='utf-8' />
		<link href='../static/css/styles.css' rel='stylesheet' type='text/css' />
    <title>license</title>
	</head>
  <body>
    <button id='home'>HOME</button>
    <form id='license'>
				<div>
					<button id='add-license-for'>ADD LICENSE-FOR</button>
					<button id='remove-license-for'>REMOVE LICENSE-FOR</button>
				</div><br>
				<div id='license-for'>
					<input type='text' class='subject' name='license-for' placeholder='LICENSE-FOR' required />
				</div>
				<div>
					<button id='add-license-holder'>ADD LICENSE-HOLDER</button>
					<button id='remove-license-holder'>REMOVE LICENSE-HOLDER</button>
				</div><br>
        <div id='license-holder'>
          <input type='text' class='subject' name='license-holder' placeholder='LICENSE-HOLDER' required />
        </div>
        <label for='valid-from'>VALID FROM</label>
        <input type='date' id='valid-from' required /><br>
        <label for='valid-through'>VALID THROUGH</label>
        <input type='date' id='valid-through' required />
        <input type='submit' value='LICENSE' />
    </form>
    <pre id='response-text'></pre>
		<br><br>
		<button id='logout'>LOGOUT</button>
    <script>
      require('../js/license.js')
    </script>
  </body>
</html>
