<html>
	<head>
		<meta charset='utf-8' />
		<link href='../static/css/styles.css' rel='stylesheet' type='text/css' />
    <title>license</title>
	</head>
  <body>
    <button id='home'>HOME</button>
    <form id='right-form'>
        <header>RIGHT</header>
        <input type='number' id='percent-shares' placeholder='PERCENT SHARES' min=1 max=100 required />
        <input type='text' id='previous-right' placeholder='PREVIOUS RIGHT' />
        <input type='text' id='recipient' placeholder='RECIPIENT' required />
        <input type='text' id='right-to' placeholder='RIGHT-TO' required />
        <input type='submit' value='RIGHT' />
    </form>
    <pre id='response-text'></pre>
		<br><br>
		<button id='logout'>LOGOUT</button>
    <script>
      require('../js/right.js')
    </script>
  </body>
</html>
